@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.cal-head {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 4px;
  gap: 4px;
  text-align: center;
}

.nav-item {
  flex: 1 1 0;
  width: min-content;
  font-size: .8rem;
  font-weight: bold;
}

.heading {
  opacity: 1;
  font-size: 2rem;
  flex: 3 1 0;
  transition: all linear .1s;
}

.hide {
  opacity: 0;
  transition: all linear .3s;
}