
.month {
  width: 80%;
  height: 80%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 4px;
  padding: 4px;
  /* margin: 4px; */

  border: 1px solid rgba(255, 0, 127, 100%);
}

.empty-space {
  grid-column-start: 1;
  grid-column-end: 6;
}